.fa-brands fa-shopify{
color: #2ecc71 !important;  
}
.fa-brands fa-github{
color: #34495e !important;  
}
.fa-brands fa-instagram{
color: #f78fb3 !important;  
}
.fa-solid fa-compass{
color: #bdc3c7 !important; 
}
.fa-brands fa-searchengin{
color: #2c3e50 !important;  
}
